---
layout: default
---
<div class="page-content">
  <div class="mdl-grid">
    {% for post in site.posts %}
      <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white mdl-js-ripple-effect">
          <i class="material-icons">play_circle_filled</i>
        </header>
        <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
          <div class="mdl-card__supporting-text">
            <h4>{{ post.title }}</h4>
            <p>
            {{ post.excerpt }}
            </p>
          </div>
          <div class="mdl-card__actions">
            <a href="{{ post.url | prepend: site.baseurl }}" class="mdl-button">Acesse o episôdio</a>
          </div>
        </div>
      </section>
    {% endfor %}

    <section class="section--footer mdl-color--white mdl-grid">
      {% for member in site.members %}
      <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone flnt-cast--avatar">
        <div class="section__circle-container__circle mdl-color--accent section__circle--big">
          <a href="{{ member.url }}">
            <img class="flnt-cast--avatar__img" src="{{ member.image }}" alt="{{ member.name }}">
          </a>
        </div>
      </div>
      <div class="section__text mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
        <h5>{{ member.name }}</h5>
        {{ member.description }}
      </div>
      {% endfor %}
    </section>
  </div>
</div>
