  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title mdl-cell--1-offset mdl-layout--large-screen-only">
        <a class="site-title" href="{{ site.baseurl }}/">
          <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </a>
      </span>

      <div class="mdl-layout-spacer"></div>

      <nav class="mdl-navigation mdl-layout--large-screen-only">
        Assinar:
        {% for feed in site.feeds %}
        <a class="mdl-navigation__link" href="{{ feed.url }}" title="{{ feed.title }}">{{ feed.description }}</a>
        {% endfor %}
      </nav>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
        <form id="search-form" action="/search" method="get">
          <label class="mdl-button mdl-js-button mdl-button--icon"
                 for="search-query">
            <i class="material-icons">search</i>
          </label>
          <div class="mdl-textfield__expandable-holder">
            <input id="search-query"
                   class="mdl-textfield__input"
                   type="text"
                   name="q"
                   autocomplete="off">
          </div>
        </form>
      </div>
    </div>
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
      <a class="mdl-layout__tab" href="{{ site.baseurl }}/">Home</a>
      {% for page in site.pages %}
        {% if page.title %}
        <a class="mdl-layout__tab" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </header>

  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">{{ site.title }}</span>
    <nav class="mdl-navigation">
      {% for feed in site.feeds %}
        <a class="mdl-navigation__link" href="{{ feed.url }}" title="{{ feed.title }}">{{ feed.title }}</a>
      {% endfor %}
    </nav>
  </div>

  <section id="search-results" class="search-results mdl-color--white mdl-shadow--2dp" style="display: none;"> </section>